@import url("https://fonts.googleapis.com/css?family=Poppins:wght@100,200,300,400,500,600,700,800,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  scroll-behavior: smooth;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px 0;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  z-index: 10000;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo a {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo a img {
  width: 30%;
}
header ul {
  display: flex;
}
header ul li {
  list-style: none;
}
header ul li a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  color: rgb(115, 109, 131);
  margin-right: 30px;
  transition: 0.4s;
}
header ul li a:hover {
  color: rgb(143, 96, 255);
}

.mobile-nav {
  display: none;
}

.hamburger {
  position: relative;
  display: block;
  width: 30px;
  cursor: pointer;
  margin-right: 20px;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  opacity: 0;
}

.hamburger:after, .hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: rgb(217, 177, 243);
  margin: 6px 0px;
  transition: 0.4s;
  border-radius: 10px;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-3px, 1px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-6px, -6px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.space {
  height: 60px;
  width: 100%;
  background-color: rgb(248, 240, 255);
  position: relative;
}
.space p {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%);
  font-size: 15px;
  color: rgb(78, 71, 95);
}

.white {
  background-color: transparent;
}

.link {
  text-decoration: none;
  color: rgb(143, 96, 255);
}
.link:hover {
  text-decoration: underline;
}

.label {
  padding: 3rem 0 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.label h2 {
  font-size: 50px;
  text-align: center;
  line-height: 60px;
  font-weight: 600;
}
.label h2 span {
  font-size: 25px;
  font-weight: 500;
}
.label p {
  color: rgb(115, 109, 131);
  width: 300px;
  text-align: center;
  margin-top: 30px;
}

.label_white {
  color: white;
}
.label_white p {
  color: rgba(255, 255, 255, 0.7);
}

footer {
  background-color: rgb(248, 240, 255);
  padding: 10px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: rgb(115, 109, 131);
  font-weight: 100;
  margin: auto;
}
footer .desc {
  border-bottom: 1px solid rgb(188, 181, 194);
  padding: 10px 0;
  text-align: center;
}
footer .quick_links {
  padding: 30px 0;
  display: flex;
}
footer .quick_links .links {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}
footer .quick_links .links p {
  font-weight: 600;
  margin-bottom: 10px;
}
footer .quick_links .links a {
  text-decoration: none;
  color: rgb(142, 133, 167);
  transition: 0.4s;
}
footer .quick_links .links a:hover {
  color: rgb(143, 96, 255);
}
footer .bottom {
  border-bottom: 1px solid rgb(188, 181, 194);
  padding: 5px 0;
  margin: 5px;
}

.services .user_interface {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  position: relative;
  /*.btn {
    display: flex;
    justify-content: center;
    button {
      padding: 5px 20px;
      cursor: pointer;
    }
  }
  .appear {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
  }*/
  /*.container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    .edit_buttons {
      text-align: center;
      .edit {
        display: flex;
        align-items: center;
        padding: 20px 0;
      }
      .choice_buttons {
        div {
          margin: 5px 0;
        }
      }
      #minus, #add, .buy, .add_cart {
        margin: 0 10px;
        padding: 5px 10px;
        background-color: black;
        color: white;
        font-size: 17px;
        font-weight: 800;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }

  .background {
    width: 100%;
    height: 99.6vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    .notif {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 20px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(245, 240, 255, 0.95);
      box-shadow: 0 0 10px rgba(245, 240, 255, 0.95);
      border-radius: 5px;
      .cancel {
        text-align: end;
        padding-bottom: 20px;
        cursor: pointer;
      }
    }
  }*/
}
.services .user_interface .website_ui .website {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding-bottom: 5rem;
}
.services .user_interface .website_ui .website .img {
  width: 70%;
  display: flex;
  justify-content: center;
}
.services .user_interface .website_ui .website .img img {
  width: 100%;
  border-radius: 10px;
}
.services .user_interface .mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 240, 255);
  width: 100%;
}
.services .user_interface .mobile .label {
  padding: 3rem;
}
.services .user_interface .mobile .image {
  width: 50%;
}
.services .user_interface .mobile .image img {
  width: 100%;
}
.services .web_dev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}
.services .web_dev .offer {
  display: flex;
  align-items: center;
  position: relative;
}
.services .web_dev .offer .heading {
  margin-left: 30px;
  width: 40%;
}
.services .web_dev .offer .heading h3 {
  font-size: 40px;
  line-height: 40px;
}
.services .web_dev .offer .heading h3 span {
  font-size: 20px;
  font-weight: 300;
}
.services .web_dev .offer .image {
  width: 50%;
}
.services .web_dev .offer .image img {
  width: 100%;
}
.services .hot {
  position: relative;
}
.services .hot .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.services .hot .gallery img {
  width: 45%;
  margin: 0 5px 5px;
  box-shadow: 0 0 5px rgb(248, 240, 255);
}

.portfolio {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio .hero {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3em 2em;
}
.portfolio .hero .heading {
  border-bottom: 1px solid rgb(248, 240, 255);
  padding-bottom: 3em;
}
.portfolio .hero .heading h2 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(142, 133, 167);
}
.portfolio .hero .heading p {
  margin-left: 5px;
  line-height: 20px;
  color: rgb(78, 71, 95);
}
.portfolio .hero .par {
  border-bottom: 1px solid rgb(248, 240, 255);
  padding-bottom: 3em;
  width: 500px;
  padding-left: 40px;
}
.portfolio .web_features {
  padding: 4em 0;
}
.portfolio .web_features .slide {
  display: flex;
}
.portfolio .web_features .slide .feature {
  margin: 0 20px;
  text-align: center;
}
.portfolio .web_features .slide .feature p {
  transition: 0.4s;
}
.portfolio .deals {
  background-color: rgb(248, 240, 255);
  width: 100%;
  padding-bottom: 3rem;
  position: relative;
}
.portfolio .deals .claim_note {
  margin-bottom: 20px;
}
.portfolio .deals .count_down {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}
.portfolio .deals .count_down .box {
  display: flex;
  margin: 10px;
}
.portfolio .deals .count_down .box h2 {
  font-size: 45px;
  line-height: 10px;
  color: rgb(115, 109, 131);
}
.portfolio .deals .count_down .box span {
  margin-left: 5px;
}
.portfolio .deals .claim_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio .deals .claim_btn button, .portfolio .deals .claim_btn a {
  background: transparent;
  font-size: 16px;
  padding: 5px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-weight: 500;
  color: rgb(115, 109, 131);
  border: 2px solid rgb(115, 109, 131);
  text-decoration: none;
  transition: 0.4s;
  cursor: pointer;
}
.portfolio .deals .claim_btn button:hover, .portfolio .deals .claim_btn a:hover {
  color: rgb(143, 96, 255);
  padding: 5px 30px;
  border: 2px solid rgb(143, 96, 255);
  transform: scale(1.03);
}
.portfolio .discount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0 20px;
}
.portfolio .discount h2 {
  color: rgb(115, 109, 131);
  font-weight: 600;
}
.portfolio .discount .directions {
  line-height: 21px;
}
.portfolio .discount .first {
  color: rgba(115, 109, 131, 0.7);
  font-weight: 600;
}
.portfolio .discount .choices {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.portfolio .discount .choices .outer_most {
  text-align: center;
  margin: 20px;
}
.portfolio .discount .choices .outer_most .heading {
  font-size: 20px;
  font-weight: 600;
  color: rgb(115, 109, 131);
  padding-bottom: 5px;
}
.portfolio .discount .choices .outer_most .outer {
  background-color: rgb(248, 240, 255);
  box-shadow: 0 0 5px rgba(115, 109, 131, 0.3);
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.portfolio .discount .choices .outer_most .outer .price div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 0 10px;
}
.portfolio .discount .choices .outer_most .outer .price div p span {
  text-decoration: line-through;
}
.portfolio .discount .choices .outer_most .outer .price div #price {
  margin-left: 5px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(142, 133, 167);
}
.portfolio .discount .choices .outer_most .outer .box {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.portfolio .discount .choices .outer_most .outer .box img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(115, 109, 131, 0.3);
}
.portfolio .contacts {
  padding: 5rem 0;
}
.portfolio .contacts .socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio .contacts .socials .box {
  position: relative;
  border: 1px solid rgb(248, 240, 255);
  overflow: hidden;
  transition: 0.4s;
}
.portfolio .contacts .socials .box .black {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio .contacts .socials .box .black p {
  color: rgb(248, 240, 255);
  text-shadow: 0 0 5px rgb(0, 0, 0);
}
.portfolio .contacts .socials .box img {
  width: 300px;
  height: 412.5px;
}
.portfolio .contacts .socials .box:hover img {
  transform: scale(1.03);
  transition: 0.4s;
}
.portfolio .contacts .socials .box:hover .black {
  background-color: transparent;
}
.portfolio .contacts .socials .box:hover .black p {
  display: none;
}

section .hero {
  padding: 4rem 0;
}

.ui .image {
  display: flex;
  justify-content: center;
  width: 100%;
}
.ui .image img {
  width: 70%;
}
.ui .wireframe {
  padding: 10rem 0 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ui .wireframe .label {
  width: 50%;
}
.ui .wireframe .image {
  width: 50%;
  display: flex;
  justify-content: end;
}
.ui .wireframe .image img {
  width: 100%;
}
.ui .prototype {
  background-color: rgb(248, 240, 255);
}
.ui .redesign {
  display: flex;
  align-items: center;
  padding: 4rem 3rem;
}
.ui .redesign .label {
  width: 50%;
}
.ui .redesign .image {
  width: 50%;
}
.ui .redesign .image img {
  width: 100%;
}
.ui .ui_choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 8rem 0 2rem;
}
.ui .ui_choice .images {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -4rem;
  z-index: -1;
}
.ui .ui_choice .images img {
  width: 33%;
}

.options {
  margin-bottom: 30px;
}
.options .cta {
  text-decoration: none;
  margin: 0 20px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(143, 96, 255);
  border: 2px solid rgb(143, 96, 255);
  padding: 5px 20px;
  border-radius: 7px;
  transition: ease 0.4s;
}
.options .cta:hover {
  padding: 5px 40px;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.web_dev_sec {
  width: 100%;
}
.web_dev_sec .hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.web_dev_sec .hero img {
  width: 500px;
}
.web_dev_sec #websites {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.web_dev_sec #websites .label {
  padding: 0;
}
.web_dev_sec #websites .types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.web_dev_sec #websites .types .type {
  width: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  line-height: 0%;
}
.web_dev_sec #websites .types .type p {
  position: absolute;
  z-index: 9;
  color: rgb(248, 240, 255);
  text-shadow: 0 0 5px rgb(0, 0, 0);
}
.web_dev_sec #websites .types .type img {
  width: 100%;
  filter: brightness(0.55);
}
.web_dev_sec #websites .types .type:hover img {
  filter: brightness(1);
  transition: 0.4s;
  transform: scale(1.05);
}
.web_dev_sec #websites .types .type:hover p {
  display: none;
}
.web_dev_sec #web3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.web_dev_sec #web3 .image_link {
  width: 100%;
  margin: 0;
}
.web_dev_sec #web3 .image_link img {
  width: 100%;
}
.web_dev_sec #wordpress {
  padding: 3rem 0;
  background-color: rgb(46, 57, 88);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.web_dev_sec .image_link {
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.web_dev_sec .image_link .white_link {
  color: white;
}
.web_dev_sec #front_end {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.web_dev_sec #rebuild {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(248, 240, 255);
}
.web_dev_sec #rebuild .image_link {
  width: 50%;
}
.web_dev_sec #rebuild .image_link img {
  width: 100%;
  padding-left: 1rem;
}
.web_dev_sec #rebuild .label {
  width: 50%;
  padding-left: 30px;
}
.web_dev_sec #call_to_action {
  text-align: center;
  padding: 7em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.web_dev_sec #call_to_action .web_dev_options {
  display: flex;
  justify-content: center;
}

@media (max-width: 1250px) {
  .label h2 {
    font-size: 40px;
    line-height: 40px;
  }
  .label h2 span {
    font-size: 20px;
  }
  .portfolio .hero .heading h2 {
    font-size: 40px;
    line-height: 40px;
  }
  .portfolio .contacts .socials .box img {
    width: 250px;
    height: 350px;
  }
  .ui .image img {
    width: 85%;
  }
  .ui .ui_choice {
    padding: 5rem 0 1rem;
  }
  .ui .ui_choice .images {
    top: 1rem;
  }
  .ui .ui_choice .images img {
    width: 33%;
  }
  .options .cta {
    margin: 0 15px;
  }
  .web_dev_sec #websites .types .type {
    width: 300px;
  }
}
@media (max-width: 1000px) {
  .web_dev_sec .label {
    margin-right: 1rem;
  }
  .web_dev_sec #call_to_action .web_dev_options {
    flex-direction: column;
    align-items: center;
  }
  .web_dev_sec #call_to_action .web_dev_options a {
    margin: 2px 0;
  }
  .web_dev_sec #web3 .image_link {
    margin-right: 0;
  }
  .web_dev_sec .image_link {
    margin-right: 1rem;
  }
  .web_dev_sec .image_link img {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .label {
    padding: 3em 0;
  }
  .label h2 {
    font-size: 30px;
    line-height: 30px;
  }
  .label h2 span {
    font-size: 18px;
  }
  p {
    font-size: 15px;
  }
  .portfolio .web_features {
    padding: 0 0 2em;
  }
  .portfolio .web_features .slide .feature {
    margin: 0 15px;
  }
  .portfolio .web_features .slide .feature img {
    width: 60px;
  }
  .portfolio .web_features .slide .feature p {
    font-size: 13px;
  }
  .portfolio .contacts {
    padding: 3rem 0;
  }
  .portfolio .contacts .socials .box img {
    width: 180px;
    height: 250px;
  }
  .services .user_interface .website_ui .website .img {
    width: 90%;
  }
  .ui .image img {
    width: 100%;
  }
  .ui .ui_choice {
    padding: 1rem;
  }
  .ui .ui_choice .images {
    display: none;
  }
  .web_dev_sec #call_to_action {
    padding: 4em;
  }
  .web_dev_sec #rebuild {
    padding: 2em 0;
  }
  footer {
    font-size: 12px;
    width: 100%;
    padding: 10px 30px;
  }
  footer .desc {
    margin: 0 30px;
    padding: 7px 0;
  }
  footer .quick_links {
    padding: 25px 0;
  }
  footer .quick_links .links {
    margin: 0 25px;
  }
  footer .quick_links .links a {
    font-size: 14px;
    margin: 1px 0;
  }
  footer .bottom {
    padding: 3px 0;
  }
}
@media (max-width: 670px) {
  header {
    justify-content: space-between;
  }
  header ul {
    display: none;
  }
  .mobile-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 38px;
    right: -100%;
    width: 50%;
    height: 100vh;
    z-index: 10000;
    transition: 0.4s;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
  }
  .mobile-nav a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: rgb(115, 109, 131);
    transition: 0.4s;
    line-height: 20px;
    width: 100%;
    padding: 15px 0 15px 30px;
  }
  .mobile-nav a:hover {
    color: rgb(143, 96, 255);
  }
  .mobile-nav.is-active {
    right: 0;
  }
  .hamburger {
    opacity: 1;
  }
  .label {
    padding: 3em 1em;
  }
  .label h2 {
    font-size: 25px;
    line-height: 30px;
  }
  .label h2 span {
    font-size: 18px;
  }
  .label p {
    width: 100%;
  }
  .label, .web_dev_sec #rebuild .label, #wordpress .label {
    width: 70%;
  }
  p {
    font-size: 14px;
  }
  .w_pic {
    flex-direction: column;
  }
  .w_pic div {
    width: 100%;
  }
  .space p {
    font-size: 14px;
    text-align: center;
  }
  .portfolio .web_features .slide {
    flex-wrap: wrap;
    justify-content: center;
  }
  .portfolio .web_features .slide .feature {
    margin: 5px 15px;
  }
  .services .user_interface .mobile .image {
    width: 80%;
  }
  .services .web_dev .offer .heading {
    text-align: center;
  }
  .services .web_dev .offer .heading h3 {
    font-size: 25px;
    line-height: 30px;
  }
  .services .web_dev .offer .heading h3 span {
    font-size: 18px;
  }
  .services .web_dev .offer .image {
    width: 80%;
    padding: 2em 0;
  }
  .services .web_dev .offer:last-child {
    flex-direction: column-reverse;
    padding: 2em 0;
  }
  .services .hot .gallery img {
    width: 100%;
    margin: 0;
  }
  .ui .wireframe, .ui .redesign {
    flex-direction: column;
    align-items: center;
  }
  .ui .wireframe .label, .ui .redesign .label {
    width: 70%;
  }
  .ui .wireframe .image, .ui .redesign .image {
    width: 100%;
  }
  .web_dev_sec .hero img {
    width: 100%;
  }
  .web_dev_sec #websites .types .type p {
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }
  .web_dev_sec #rebuild .image_link {
    width: 80%;
  }
  .web_dev_sec #wordpress .image_link {
    width: 60%;
  }
  #call_to_action .options a, .ui_choice .ui_btn a {
    font-size: 16px;
  }
  footer .quick_links {
    flex-direction: column;
    text-align: center;
  }
  footer .quick_links .links {
    margin: 15px 0;
  }
  footer .quick_links .links p {
    margin: 0;
  }
}
@media (max-width: 500px) {
  .label h2 {
    font-size: 20px;
    line-height: 22px;
  }
  .label h2 span {
    font-size: 16px;
  }
  p, a {
    font-size: 13px;
  }
  .space p {
    font-size: 12px;
    text-align: center;
  }
  .options {
    margin-bottom: 15px;
  }
  .hero {
    padding: 1rem 0;
  }
  .full {
    width: 100%;
  }
  .portfolio {
    width: 100%;
  }
  .portfolio .hero {
    flex-direction: column;
    align-items: center;
    padding: 3em 2em 0;
  }
  .portfolio .hero .heading {
    border: none;
    padding-bottom: 1.9em;
    text-align: center;
  }
  .portfolio .hero .heading h2 {
    font-size: 30px;
    line-height: 30px;
  }
  .portfolio .hero .heading p {
    margin-left: 2px;
    line-height: 15px;
  }
  .portfolio .hero .par {
    padding-bottom: 1em;
    width: 90%;
    padding-left: 0;
    text-align: center;
  }
  .portfolio .deals .count_down {
    padding-bottom: 1rem;
  }
  .portfolio .deals .count_down .box {
    margin: 0 7px;
  }
  .portfolio .deals .count_down .box h2 {
    font-size: 25px;
    line-height: 14px;
    color: rgb(115, 109, 131);
  }
  .portfolio .deals .count_down .box span {
    font-size: 13px;
    margin-left: 3px;
  }
  .portfolio .contacts {
    padding: 3rem 0 0;
  }
  .services .user_interface .mobile .image {
    width: 90%;
  }
  .services .web_dev .offer .heading h3 {
    font-size: 18px;
    line-height: 25px;
  }
  .services .web_dev .offer .heading p {
    margin-top: 3px;
    line-height: 17px;
  }
  .services .web_dev .offer .image {
    width: 90%;
  }
  .ui .wireframe {
    padding: 2rem 0;
  }
  .ui .wireframe .text {
    width: 70%;
  }
  .ui .wireframe .image {
    width: 100%;
  }
  .ui .ui_choice {
    padding: 0 2rem 2rem;
    text-align: center;
  }
  .ui .ui_choice .ui_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ui .ui_choice .ui_btn a {
    margin-bottom: 5px;
  }
  .ui .redesign {
    padding: 1rem;
  }
  .ui .redesign .image {
    width: 100%;
  }
  .ui .redesign .label {
    width: 70%;
  }
  .web_dev_sec #websites .types .type {
    width: 100%;
  }
  .web_dev_sec #rebuild {
    padding: 0 0 2em;
  }
  .web_dev_sec #call_to_action {
    padding: 2em 1em;
  }
  footer .quick_links .links {
    margin: 10px 0;
  }
}

/*# sourceMappingURL=styles.css.map */
